### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Project build output ###
.m2/
target/
**/target/

### Local Docker Compose overrides ###
docker-compose.override.yml
.env

### Local Documentation ###
KAFKA_DOCKER_SETUP_GUIDE.md

### Legacy root source scaffold ###
/src/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store